{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">

   {% if form.non_field_errors %}
       {% for err in form.non_field_errors %}
         <p class="alert alert-danger my-3">{{ err }}</p>
       {% endfor %}
   {% endif %}
    <h5><b>Change Your Old Password</b></h5><hr>
   <form action="" method="post" class="shadow-sm p5" novalidate>
     {% csrf_token %}
     {% for fm in form %}
     <div class="form-group">
     {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
     </div>
     {% endfor %}
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}