{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password Reset</h3>
   <hr>

   {% if form.non_field_errors %}
       {% for err in form.non_field_errors %}
         <p class="alert alert-danger my-3">{{ err }}</p>
       {% endfor %}
   {% endif %}

   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
    {% endfor %}
    <input type="submit" class="btn btn-primary mt-4" value="Update Password">
    <br>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}